body{
background: linear-gradient(120deg,#1e3c72,#2a5298);
font-family: Arial;
color:white;
}

.container{
width: 500px;
margin: 120px auto;
background: white;
color:black;
padding: 30px;
border-radius: 12px;
text-align: center;
box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

h1{
margin-bottom:20px;
}

input{
width: 90%;
padding: 12px;
margin: 10px;
border-radius: 6px;
border: 1px solid gray;
}

button{
padding: 12px 25px;
background: #e74c3c;
color: white;
border: none;
border-radius: 6px;
cursor: pointer;
font-size:16px;
}

button:hover{
background:#c0392b;
}
